<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img ng-src="//www.gravatar.com/avatar/{{ ::sb.user.emailHash }}?s=100&d=identicon" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p ng-bind="::(sb.user.firstName + ' ' + sb.user.lastName)"></p>
            <!-- Status -->
            <a ><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->

        <li ng-repeat="item in sb.menu track by item.id" class="{{ item.submenu ? 'treeview' : '' }}" ui-sref-active="active">
            <a ng-if="::!item.submenu" ui-sref="{{ ::item.target }}">
                <i class="{{ ::item.icon }}"></i>
                <span ng-bind="::item.title"></span>
            </a>
            <a ng-if="::item.submenu">
                <i class="{{ ::item.icon }}"></i>
                <span ng-bind="::item.title"></span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" ng-if="::item.submenu">
                <li ng-repeat="sitem in item.submenu track by sitem.id">
                    <a ng-bind="::sitem.title" ui-sref="{{ ::sitem.target }}"></a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->