<div class="col-md-12">
    <div class="box box-primary spinner">
        <div class="box-header">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table class="table table-striped table-bordered officer-grid" ng-controller="GridController as eg" alias="eg" module="errors" ng-init="eg.params.filters.resolved = false">
                <tr>
                    <th col-header sortable="true" text="First occurrence" key="created_at" click="eg.sortBy(key, sortable)" sort="eg.sort" width="15%">
                    <th col-header sortable="true" text="Latest occurrence" key="lastOccurrence" click="eg.sortBy(key, sortable)" sort="eg.sort" width="15%">
                    <th width="15%">Project</th>
                    <th>Error</th>
                    <th width="10%"></th>
                </tr>
                <tr ng-repeat="row in eg.rows">
                    <td ng-bind="::row.created_at | format_date" class="top-pad"></td>
                    <td ng-bind="::row.lastOccurrence | format_date" class="top-pad"></td>
                    <td ng-bind="::row.project.name" class="top-pad"></td>
                    <td ng-bind="::row.message" class="top-pad"></td>
                    <td>
                        <button ui-sref="app.errors.info({id: row.id})" type="button" class="btn btn-primary btn-sm btn-flat btn-block pull-right">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-show="!eg.rows.length">
                    <td colspan="4" class="text-center bg-primary">No errors found!</td>
                </tr>
            </table>
            <div class="text-center">
                <uib-pagination total-items="eg.total" ng-model="eg.page" next-text="Next" previous-text="Previous" items-per-page="eg.per_page" max-size="7" ng-change="eg.loadData()"></uib-pagination>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
    </div>
    <!-- /.box -->
</div>
<!-- /.col -->