<div class="row mb10">
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-flat">
                  <i class="fa fa-search"></i>
              </button>
            </span>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-sref="app.projects.new" el-perm="admin,poweruser" class="btn btn-success btn-flat pull-right">
            <i class="fa fa-plus"></i> Add project
        </div>
    </div>
</div>
<div class="spinner">
    <div ng-show="pl.projects.length < 1" class="alert bg-primary alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i> No projects found!</h4>
        Add a project to start monitoring!
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="project in pl.projects">
        <div class="box box-widget widget-user-2">
            <div class="project-widget bg-light-blue">
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-eye fa-3x"></i>
                    </div>
                    <div class="col-md-10">
                        <h3 ng-bind="::project.name"></h3>
                        <h5 ng-bind="::project.description"></h5>
                    </div>
                </div>
                <div ui-sref="app.projects.edit({id: project.id})" ng-if="project.members[0].projectUsers.role == 'admin'" class="project-edit">
                    <i class="fa fa-cog fa-2x"></i>
                </div>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a ui-sref="app.errors.list({pid: project.id})"><i class="fa fa-bug"></i> Unsolved errors <span class="pull-right badge bg-red" ng-bind="::project.errors"></span></a></li>
                    <li><a ui-sref="app.events.list({pid: project.id})"><i class="fa fa-flag"></i> Events (last 24 hours) <span class="pull-right badge bg-aqua" ng-bind="::project.events"></span></a></li>
                    <li><a ui-sref="app.projects.logs({id: project.id})"><i class="fa fa-table"></i> Log entires (last 24 hours) <span class="pull-right badge bg-aqua" ng-bind="::project.logs"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


