@import "libs";
@import "../theme/less/variables.less";
@import "../theme/less/mixins.less";


.form-control {
  color: #1A2226;
}

.officer-grid {
  .top-pad {
    padding-top: 14px;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.project-widget {
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  .project-edit {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
  }
}

.project-member-list {
  .remove-btn {
    position: absolute;
    right: 15px;
    top: 3px;
  }
}